# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = false

# Unix-style newlines with a newline ending every file
[*]
insert_final_newline = true

# Trim tailing whitespace
trim_trailing_whitespace = true
